.yoga2-section {
  padding: 2vw 1vw;
  margin: 0 auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.yoga2-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* max-width: 1200px; */
  margin: 0 auto;
  gap: 2vw;
  padding: 5.5rem 0;
}

.yoga2-left-container {
  width: 50%;
}

.yoga2-right-container {
  width: 40%;
}

.yoga2-left-container img {
  width: 45w;
  height: 40vw;
  object-fit: cover;
  object-position: right;
  /* margin-right: 10vw; */
}

.yoga2-right-container h2 {
  font-size: 5.72vw;
  font-weight: 700;
  color: #016533;
  text-align: center;
  line-height: 7vw;
  width: 35vw;
}
.third-container {
  /* background-color: #f9f9f9; */
  padding: 2vw;
  /* box-shadow: 0px -10px 0px #f9f9f9, 0px 10px 0px #f9f9f9; */
  margin: 4rem 0 3rem 0;
}

.third-section {
  width: 80vw;
  height: auto;
  margin: 0 auto;
}

.third-section img {
  margin: 0 auto;
  padding-right: 2vw;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

@media screen and (768px < width < 1030px) {
  .yoga2-left-container {
    width: 45%;
    margin-bottom: 2rem;
  }
  .yoga2-container {
    gap: 4vw;
    padding: 2rem 0;
  }
  .yoga2-right-container {
    width: 45%;
  }

  .yoga2-left-container img {
    width: 50vw;
    height: 40vw;
    margin-right: 0;
  }

  .yoga2-right-container h2 {
    font-size: 6vw;
    line-height: 7vw;
    width: 90%;
  }

  .third-section {
    width: 90vw;
  }

  .third-section img {
    width: 80vw;
  }
}

@media (max-width: 768px) {
  .yoga2-left-container {
    width: 40%;
    margin-bottom: 1rem;
  }

  .yoga2-right-container {
    width: 40%;
  }

  .yoga2-left-container img {
    width: 70vw;
    height: 50vw;
  }

  .yoga2-right-container h2 {
    font-size: 6vw;
    line-height: 7vw;
    width: 100%;
  }

  .third-section {
    width: 90vw;
  }

  .third-section img {
    width: 90vw;
  }
  .yoga2-container {
    gap: 2vw;
    padding: 2rem 0;
  }
  .yoga2-section {
    padding: 0;
  }
}
/* Small mobile screens */
@media (max-width: 530px) {
  .yoga2-left-container,
  .yoga2-right-container {
    width: 80%; /* Allow images and text to take up more space */
  }

  .yoga2-container {
    flex-direction: column; /* Stack items vertically */
    /* gap: 3vw; */
    padding: 2rem 0;
  }
  .yoga2-left-container img {
    width: 100%; /* Make images scale based on screen size */
    height: auto;
    padding-right: 2rem;
  }

  .yoga2-right-container h2 {
    font-size: 9vw;
    line-height: 10vw;
  }

  .third-section img {
    width: 100vw;
    margin-top: 1rem;
  }

  .yoga2-container {
    padding: 1rem 0;
  }
}
