/* Founder.css */

/* Default Styles (for larger screens) */
.founder-sec {
  margin: 0;
  padding: 0;
  position: relative;
}

.founder-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60vw;
  margin: 0 auto;
}

.founder-container p {
  font-family: "Nunito", sans-serif;
  font-size: 2vw;
  font-weight: 500;
  line-height: 3vw;
  text-align: center;
}

.founder-container .founder-details {
  font-weight: 700;
  padding-top: 1vw;
  color: #016533;
}

.know {
  width: 20vw;
  height: auto;
  padding: 1vw 2vw;
  border-radius: 0.5vw;
  cursor: pointer;
  background-color: #006633;
  font-family: "Nunito", sans-serif;
  font-size: 1.8vw;
  font-weight: 600;
  line-height: 2vw;
  text-align: center;
  color: white;
  margin-top: 2vw;
  margin-bottom: 5vw;
}

/* Media Queries for Responsive Design */

/* For tablets and medium screens (max-width: 1024px) */
@media screen and (max-width: 1024px) {
  .founder-container {
    width: 70vw;
  }

  .founder-container p {
    font-size: 2.5vw;
    line-height: 4vw;
  }

  .know {
    width: 25vw;
    height: auto;
    font-size: 1.6vw;
    line-height: 2.2vw;
    padding: 1.2vw 2.5vw;
  }
}

/* For small screens (max-width: 780px) */
@media screen and (max-width: 780px) {
  .founder-container {
    width: 85vw;
    margin-top: 5vw;
  }

  .founder-container p {
    font-size: 4vw;
    line-height: 5vw;
  }

  .know {
    width: 30vw;
    height: auto;
    font-size: 3.5vw;
    line-height: 4.5vw;
    padding: 1.5vw 3vw;
  }
}

/* For extra small screens (max-width: 480px) */
@media screen and (max-width: 480px) {
  .founder-container {
    width: 90vw;
    margin-top: 2vw;
    padding: 1.5rem 0 0 0;
  }

  .founder-container p {
    font-size: 4vw;
    line-height: 5vw;
  }

  .know {
    width: 35vw;
    height: auto;
    font-size: 3.5vw;
    line-height: 4vw;
    padding: 2vw 3vw;
  }
}
