/* AboutKindrice.css */

/* Default Styles (for larger screens) */
.about-kindrice {
  position: relative;
  width: 100vw;
  height: 50.9vw; /* Adjust as needed */
  margin-top: 3rem;
}

.content-container-about {
  position: relative;
  width: 100vw;
  height: 50.9vw; /* Ensure this matches the height of .about-kindrice */
}

.image-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

.image-section img {
  width: 100vw;
  height: 70%;
  object-fit: cover;
  opacity: 0.3;
}

.text-section-overlay {
  position: absolute;
  top: 0vw;
  left: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw; /* Adjust padding as needed */
}

.left img {
  max-width: 60%;
  height: auto;
}

.right {
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw; /* Adjust padding as needed */
  box-sizing: border-box;
}

.right p {
  margin: 0;
  margin-right: 2vw;
  font-family: "Nunito", sans-serif;
  font-size: 1.8vw;
  font-weight: 500;
  line-height: 2.8vw;
  text-align: left;
  color: #006633;
}

.right p span {
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  /* .about-kindrice {
    height: 60vw; 
  } */

  .text-section-overlay {
    top: -8vw;
  }

  .left,
  .right {
    width: 85vw;
  }

  .right p {
    font-size: 2.5vw;
    line-height: 3.5vw;
  }

  .left img {
    max-width: 50%;
  }
}

/* For small screens (max-width: 780px) */
@media screen and (max-width: 780px) {
  /* .about-kindrice {
    height: 70vw; 
  } */

  .text-section-overlay {
    top: -5vw;
  }

  .left,
  .right {
    width: 90vw;
  }

  .right p {
    font-size: 2.5vw;
    line-height: 3.5vw;
    padding: 0 4vw;
  }

  .left img {
    max-width: 60%;
  }

  .image-section img {
    height: 90%;
  }
}

/* For extra small screens (max-width: 530px) */
@media screen and (max-width: 530px) {
  /* .about-kindrice {
    height: 90vw; 
  } */

  .text-section-overlay {
    top: 0;
    padding: 2vw 0;
  }

  .left,
  .right {
    width: 95vw;
  }

  .right p {
    font-size: 5vw;
    line-height: 6vw;
    padding: 0 4vw;
    text-align: center;
  }

  .left img {
    max-width: 35%;
  }
  .image-section img {
    height: 49vh;
  }
  .text-section-overlay {
    flex-direction: column;
  }
}
