/* Default styles for larger screens (desktop) */
.howlowgi-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  width: 80vw;
  margin: 0 auto;
}

.howlowgi-container {
  width: 100%;
  text-align: left;
  color: #006633;
}

.howlowgi-title {
  font-size: 2.8vw;
  margin-bottom: 2vw;
  font-weight: 700;
}

.howlowgi-content {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.howlowgi-paragraphs {
  display: flex;
  flex-direction: column;
  /* gap: 2vw; */
}

.howlowgi-first-para {
  font-size: 1.8vw;
  line-height: 2.4vw;
  font-weight: 700;
}

.howlowgi-second-para,
.howlowgi-third-para {
  font-size: 1.8vw;
  line-height: 2.4vw;
}

.howlowgi-list {
  list-style-type: disc;
  /* counter-reset: custom-counter; */
  padding-left: 0;
  margin: 0;
}

.howlowgi-list li {
  /* counter-increment: custom-counter; */
  margin-bottom: 10px;
  position: relative;
  padding-left: 10px;
}

.howlowgi-list li::before {
  /* content: counter(custom-counter) ". "; */
  font-size: 1.8vw;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 0;
}

/* Styles for medium screens (tablets) */
@media screen and (max-width: 1024px) {
  .howlowgi-section {
    padding: 3vw 0;
    width: 80vw;
  }

  .howlowgi-title {
    font-size: 3.5vw;
    margin-bottom: 3vw;
  }

  .howlowgi-first-para {
    font-size: 2.2vw;
    line-height: 3vw;
  }

  .howlowgi-second-para,
  .howlowgi-third-para {
    font-size: 2.2vw;
    line-height: 3vw;
  }

  .howlowgi-list li::before {
    font-size: 2.2vw;
  }
}

/* Styles for small screens (mobile) */
@media screen and (max-width: 768px) {
  .howlowgi-section {
    padding: 4vw 0;
    width: 80vw;
  }

  .howlowgi-title {
    font-size: 5vw;
    margin-bottom: 3.5vw;
  }

  .howlowgi-first-para {
    font-size: 3vw;
    line-height: 4vw;
  }

  .howlowgi-second-para,
  .howlowgi-third-para {
    font-size: 3vw;
    line-height: 4vw;
  }

  .howlowgi-list li::before {
    font-size: 3vw;
  }

  .howlowgi-list li {
    padding-left: 0;
  }
}

/* Styles for very small screens (mobile) */
@media screen and (max-width: 480px) {
  .howlowgi-section {
    padding: 5vw 0vw;
    width: 80vw;
  }

  .howlowgi-title {
    font-size: 7vw;
    margin-bottom: 4vw;
  }

  .howlowgi-first-para {
    font-size: 5vw;
    line-height: 6vw;
  }

  .howlowgi-second-para,
  .howlowgi-third-para {
    font-size: 5vw;
    line-height: 6vw;
  }

  .howlowgi-list li::before {
    font-size: 4vw;
  }
  .howlowgi-content {
    width: 80%;
    margin: 0 auto;
  }
}
