.howlowgi-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vw 0;
  width: 70vw; /* Set the width to 80vw */
  margin: 0 auto;
}

.howlowgi-container {
  width: 100%;
  text-align: left;
  color: #006633;
}

.howlowgi-title {
  font-size: 2.8vw; /* Adjusted font size for desktop */
  margin-bottom: 2vw;
  font-weight: 700;
}

.howlowgi-content {
  display: flex;
  flex-direction: column;
  gap: 2vw; /* Adjust spacing between elements */
}

.howlowgi-paragraphs {
  display: flex;
  flex-direction: column;
  gap: 2vw; /* Adjust spacing between paragraphs */
}

.howlowgi-first-para {
  font-size: 1.8vw; /* Font size for desktop */
  line-height: 2.4vw; /* Line height for desktop */
  font-weight: 700; /* Optional: Make it bold */
}

.howlowgi-second-para,
.howlowgi-third-para {
  font-size: 1.8vw; /* Font size for desktop */
  line-height: 2.4vw; /* Line height for desktop */
}

.howlowgi-second-para {
  margin-bottom: 2vw; /* Adjusted margin */
}

.howlowgi-third-para span {
  font-weight: 700;
}

.howlowgi-list {
  padding-left: 2vw; /* Adjust list indentation */
  margin: 0;
}

.howlowgi-list li {
  list-style: decimal; /* Changed list style to decimal */
}

/* Media Queries */

/* For screens smaller than 1200px */
@media (max-width: 1200px) {
  .howlowgi-title {
    font-size: 2.4vw; /* Adjusted font size */
  }

  .howlowgi-first-para,
  .howlowgi-second-para,
  .howlowgi-third-para {
    font-size: 2vw; /* Larger font size for tablet */
    line-height: 2.5vw; /* Adjusted line height */
  }

  .howlowgi-second-para {
    margin-bottom: 1.5vw;
  }
}

/* For screens smaller than 992px */
@media (max-width: 992px) {
  .howlowgi-title {
    font-size: 4vw; /* Adjusted font size */
  }

  .howlowgi-first-para,
  .howlowgi-second-para,
  .howlowgi-third-para {
    font-size: 2.2vw; /* Larger font size for tablets and small screens */
    line-height: 2.7vw; /* Adjusted line height */
  }

  .howlowgi-second-para {
    margin-bottom: 1.5vw;
  }
}

/* For screens smaller than 768px */
@media (max-width: 768px) {
  .howlowgi-title {
    font-size: 4vw; /* Adjusted font size */
  }

  .howlowgi-first-para,
  .howlowgi-second-para,
  .howlowgi-third-para {
    font-size: 2.4vw; /* Larger font size for mobile */
    line-height: 3vw; /* Adjusted line height */
  }

  .howlowgi-second-para {
    margin-bottom: 1vw;
  }
}

/* For screens smaller than 576px */
@media (max-width: 576px) {
  .howlowgi-title {
    font-size: 4vw; /* Adjusted font size */
  }

  .howlowgi-first-para,
  .howlowgi-second-para,
  .howlowgi-third-para {
    font-size: 2.6vw; /* Larger font size for mobile */
    line-height: 3.2vw; /* Adjusted line height */
  }

  .howlowgi-second-para {
    margin-bottom: 1vw;
  }
}
