.howlowgi-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vw 0;
  width: 70vw;
  margin: 0 auto;
}

.howlowgi-container {
  width: 100%;
  text-align: left;
  color: #006633;
}

.howlowgi-title {
  font-size: 2.8vw;
  margin-bottom: 2vw;
  font-weight: 700;
}

.howlowgi-content {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.howlowgi-paragraphs {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.howlowgi-first-para {
  font-size: 1.8vw;
  line-height: 2.4vw;
  font-weight: 700;
}

.howlowgi-second-para,
.howlowgi-third-para {
  font-size: 1.8vw;
  line-height: 2.4vw;
}

.howlowgi-second-para {
  margin-bottom: 2vw;
}

.howlowgi-third-para span {
  font-weight: 700;
}

.howlowgi-list {
  padding-left: 2vw;
  margin: 0;
}

.howlowgi-list {
  list-style: none;
  counter-reset: custom-counter;
  padding-left: 0;
}

.howlowgi-list li {
  counter-increment: custom-counter;
  margin-bottom: 10px;
  position: relative;
  padding-left: 25px;
}

.howlowgi-list li::before {
  content: counter(custom-counter) ". ";
  font-size: 1.8vw;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 0;
}

/* Media Queries */

@media (max-width: 1200px) {
  .howlowgi-title {
    font-size: 2.4vw;
  }

  .howlowgi-first-para,
  .howlowgi-second-para,
  .howlowgi-third-para {
    font-size: 2vw;
    line-height: 2.5vw;
  }

  .howlowgi-second-para {
    margin-bottom: 1.5vw;
  }
}

@media (max-width: 992px) {
  .howlowgi-title {
    font-size: 4vw;
  }

  .howlowgi-first-para,
  .howlowgi-second-para,
  .howlowgi-third-para {
    font-size: 2.2vw;
    line-height: 2.7vw;
  }

  .howlowgi-second-para {
    margin-bottom: 1.5vw;
  }
}

@media (max-width: 768px) {
  .howlowgi-title {
    font-size: 4vw;
  }

  .howlowgi-first-para,
  .howlowgi-second-para,
  .howlowgi-third-para {
    font-size: 2.4vw;
    line-height: 3vw;
  }

  .howlowgi-second-para {
    margin-bottom: 1vw;
  }
}

@media (max-width: 576px) {
  .howlowgi-title {
    font-size: 4vw;
  }

  .howlowgi-first-para,
  .howlowgi-second-para,
  .howlowgi-third-para {
    font-size: 2.6vw;
    line-height: 3.2vw;
  }

  .howlowgi-second-para {
    margin-bottom: 1vw;
  }
}
