/* Default styles for larger screens (desktop) */
.howitworks-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vw 5vw;
  width: 80vw;
  margin: 0 auto;
}

.how-container {
  width: 100%;
  text-align: left;
  color: #006633;
}

.how-container h1 {
  font-size: 2.8vw;
  margin-bottom: 2vw;
  font-weight: 700;
}

.how-it-works {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.how-it-works p {
  margin-bottom: 1rem;
}

.first-container {
  position: relative;
  top: 2vw !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 3vw;
}

.first-container img {
  width: 5vw;
  height: auto;
  border-radius: 0.5vw;
  object-fit: cover;
}

.first-para,
.second-para,
.third-para {
  font-size: 1.8vw;
  line-height: 2.4vw;
  margin: 1vw 0;
}

/* Highlighted text styles */
.first-para span {
  font-weight: 700;
  color: #006633;
}

.second-para span {
  font-weight: 700;
  color: #ff914d;
}

.third-para span {
  color: #ff3131;
  font-weight: 700;
}

/* Styles for medium screens (tablets) */
@media screen and (max-width: 1024px) {
  .howitworks-section {
    padding: 3vw 4vw;
    width: 85vw;
  }

  .how-container h1 {
    font-size: 3.5vw;
    margin-bottom: 2.5vw;
  }

  .first-container img {
    width: 7vw;
  }

  .first-para,
  .second-para,
  .third-para {
    font-size: 2.2vw;
    line-height: 3vw;
    margin: 1.5vw 0;
  }
}

/* Styles for small screens (mobile) */
@media screen and (max-width: 768px) {
  .howitworks-section {
    padding: 4vw 3vw;
    width: 85vw;
    flex-direction: column;
    align-items: flex-start;
  }

  .how-container h1 {
    font-size: 5vw;
    margin-bottom: 3vw;
  }

  /* .how-it-works {
    flex-direction: column;
    align-items: flex-start;
  } */

  .first-container {
    padding-right: 0;
    margin-bottom: 2vw;
    align-items: center;
  }

  .first-container img {
    width: 13vw;
    padding-right: 1vw;
    margin-top: 1vw;
  }

  .first-para,
  .second-para,
  .third-para {
    font-size: 3vw;
    line-height: 4vw;
    margin: 2vw 0;
  }
}

/* Styles for very small screens (mobile) */
@media screen and (max-width: 480px) {
  .howitworks-section {
    padding: 5vw 2vw;
    width: 85vw;
  }

  .how-container h1 {
    font-size: 6vw;
    margin-bottom: 4vw;
  }

  .first-container img {
    width: 15vw;
    padding-right: 1vw;
    margin-top: 1vw;
  }

  .first-para,
  .second-para,
  .third-para {
    font-size: 4vw;
    line-height: 5vw;
    margin: 3vw 0;
  }
}
