.certificates {
  padding: 2vw 1vw;
  display: flex;
  justify-content: center;
}

.certificates-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: center;
  flex-direction: column;
}

/* Green Buttons */
.certificate-button {
  background-color: #016533; /* Green color */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.certificate-button:hover {
  background-color: #027f41;
}

/* Overlay Popup Style */
.image-overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-content2 {
  position: relative;
  background-color: #fff;
  padding: 0;
  max-width: 70%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

.overlay-content2 img {
  width: 50%;
  height: 50%;
  box-shadow: 0px 5px 10px 0px #050505;
}

.close-icon2 {
  position: absolute;
  top: 1vw;
  left: 1vw;
  font-size: 2vw;
  cursor: pointer;
  /* background: #ff0000; */
  color: #016533;
  padding: 0.5vw;
  border-radius: 50%;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .overlay-content2 {
    max-width: 85%;
    max-height: 100%;
    padding: 5rem 0;
  }
  .overlay-content2 img {
    width: 80%;
    height: 80%;
    object-fit: cover;
  }
  .close-icon2 {
    font-size: 4vw;
    left: 2vw;
  }
}
