.certificates {
  padding: 2vw 1vw;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.certificates-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: center;
  flex-direction: column;
}

/* Green Buttons */
.certificate-button {
  background-color: #016533; /* Green color */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s;
  width: 15rem;
}

.certificate-button:hover {
  background-color: #027f41;
}

/* Overlay Popup Style */
.pdf-overlay-content {
}
.para-lab {
  display: block;
}
.para-lab2 {
  display: none;
}
@media screen and (max-width: 768px) {
  .overlay-content2 {
    max-width: 85%;
    max-height: 100%;
    padding: 5rem 0;
  }
  .overlay-content2 img {
    width: 80%;
    height: 80%;
    object-fit: cover;
  }
  .close-icon2 {
    font-size: 4vw;
    left: 2vw;
  }
  .para-lab {
    display: none;
  }
  .para-lab2 {
    display: block;
  }
}
