/* Default styles for larger screens (desktop) */
.example-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vw 2vw;
  gap: 1vw;
  color: #006633;
  width: 80vw;
  margin: 0 auto;
}

.example-content-left {
  flex: 1;
  max-width: 40vw;
  width: 100%;
}

.example-content-left img {
  width: 30vw;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
}

.example-section__content-right {
  flex: 1;
  max-width: 40vw;
}

.example-section__content-right h2 {
  font-size: 2.8vw;
  margin-bottom: 1vw;
}
.example-section__content-right h2 span {
  font-weight: 700;
}
.example-section__content-right p {
  font-size: 1.8vw;
  line-height: 2.5vw;
  text-align: justify;
}

.first-child {
  padding-bottom: 2vw;
}

.second-child {
  max-width: 45vw;
}

.small-screen {
  display: none; /* Hidden by default on larger screens */
}
.important-highlight {
  font-weight: 700;
}
/* Styles for medium screens (tablets) */
@media screen and (max-width: 1024px) {
  .example-section {
    padding: 3vw;
    gap: 2vw;
    width: 85vw;
  }

  .example-content-left img {
    width: 35vw;
  }

  .example-section__content-right h2 {
    font-size: 3vw;
  }

  .example-section__content-right p {
    font-size: 2vw;
    line-height: 2.8vw;
  }
}

/* Styles for small screens (mobile) */
@media screen and (max-width: 768px) {
  .example-section {
    flex-direction: column;
    padding: 4vw;
    gap: 3vw;
    width: 90vw;
  }

  /* Ensure the correct order on mobile */
  .example-content-left {
    max-width: 100%;
    /* order: 3 !important; */
  }

  .example-section__content-right {
    max-width: 100%;
    text-align: justify;
  }

  .example-content-left img {
    width: 50vw;
    margin: 0 auto;
  }

  .example-section__content-right h2 {
    font-size: 4vw;
    text-align: center;
    order: 1 !important;
    margin: 3vw 0;
  }

  .example-section__content-right p {
    font-size: 3vw;
    line-height: 4vw;
  }
  .first-child {
    order: 2 !important;
  }
  .second-child {
    display: block;
    order: 4 !important;
    max-width: 90vw;
  }
}

/* Styles for very small screens (mobile) */
@media screen and (max-width: 480px) {
  .example-section {
    padding: 5vw;
    gap: 4vw;
    width: 95vw;
  }

  .example-content-left img {
    width: 90%;
  }

  .example-section__content-right h2 {
    font-size: 7vw;
  }

  .example-section__content-right p {
    font-size: 5vw;
    line-height: 6vw;
  }

  .small-screen {
    font-size: 4.5vw;
    line-height: 5vw;
  }
}
