/* Base Styles */
.verification-section {
  width: 100%;
  padding: 2vw 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.verification-container {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4vw;
  color: #006633;
}

.verification-left-section,
.verification-right-section {
  width: 40vw;
}

.verification-left-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.verification-left-section-image {
  text-align: center;
  margin: 0 auto;
}

.verification-left-section-image img {
  width: 16.13vw;
  height: auto;
  text-align: center;
  margin: 0 auto;
}

.verification-left-section-image p {
  margin-top: 2vw;
  line-height: 1.5;
}

.verification-left-section .verified-first-para {
  font-size: 1.8vw;
}

.verification-left-section .verified-first-para span {
  font-size: 2.8vw;
}

.verification-right-section-image img {
  width: 32.97vw;
  height: 40.49vw;
}

.verification-left-section .verified-second-para {
  font-size: 1.5vw;
  line-height: 2vw;
  font-weight: 700;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .verification-container {
    flex-direction: column;
    padding: 5vw;
  }

  .verification-left-section,
  .verification-right-section {
    width: 100%;
    margin-bottom: 3vw;
  }

  .verification-left-section-image img {
    width: 20vw;
  }

  .verification-right-section-image img {
    width: 60vw;
    height: auto;
  }

  .verification-left-section .verified-first-para {
    font-size: 2.2vw;
  }

  .verification-left-section .verified-first-para span {
    font-size: 3.5vw;
  }

  .verification-left-section .verified-second-para {
    font-size: 2vw;
    line-height: 2.5vw;
  }
}

@media (max-width: 768px) {
  .verification-container {
    flex-direction: column;
    padding: 6vw;
  }

  .verification-left-section,
  .verification-right-section {
    width: 100%;
    margin-bottom: 4vw;
  }

  .verification-left-section-image img {
    width: 30vw;
  }

  .verification-right-section-image img {
    width: 80vw;
    height: auto;
    object-fit: cover;
    transform: scale(1.4);
    padding: 7rem 0 3rem 0;
  }

  .verification-left-section .verified-first-para {
    font-size: 3vw;
  }

  .verification-left-section .verified-first-para span {
    font-size: 4.5vw;
  }

  .verification-left-section .verified-second-para {
    font-size: 2.5vw;
    line-height: 3vw;
    font-weight: 400;
  }
}

@media (max-width: 480px) {
  .verification-container {
    padding: 8vw;
  }

  .verification-left-section,
  .verification-right-section {
    width: 100%;
    margin-bottom: 5vw;
  }

  /* .verification-left-section-image img {
    width: 40vw;
  } */

  .verification-right-section-image img {
    width: 80vw;
    height: auto;
    object-fit: cover;
    transform: scale(1.5);
    padding: 5.5rem 0 3rem 0;
  }
  .verification-left-section {
  }
  .verification-left-section .verified-first-para {
    font-size: 5vw;
  }

  .verification-left-section .verified-first-para span {
    font-size: 6vw;
  }

  .verification-left-section .verified-second-para {
    font-size: 5vw;
    line-height: 6vw;
  }
}
