/* Base Styles */
.verification-section {
  width: 80vw;
  padding: 2vw 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.verification-container {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4vw;
  color: #006633;
}

.verification-left-section,
.verification-right-section {
  width: 40vw;
}

.verification-left-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.verification-left-section-image {
  text-align: center;
  margin: 0 auto;
}

.verification-left-section-image img {
  width: 16.13vw;
  height: auto;
  text-align: center;
  margin: 0 auto;
}

.verification-left-section-image p {
  margin-top: 2vw;
  line-height: 1.5;
}
.verification-left-section .verified-first-para {
  font-size: 1.8vw;
}
.verification-left-section .verified-first-para span {
  font-size: 2.8vw;
}
.verification-right-section-image img {
  width: 32.97vw;
  height: 40.49vw;
}
.verification-left-section .verified-second-para {
  font-size: 1.5vw;
  line-height: 2vw;
  font-weight: 700;
}
/* Responsive Adjustments */
@media (max-width: 768px) {
  .verification-container {
    flex-direction: column;
    padding: 6vw;
  }

  .verification-left-section,
  .verification-right-section {
    width: 80%;
    margin-bottom: 4vw;
  }
  .verification-left-section {
    width: 80vw;
    order: 1;
  }
  .verification-right-section {
    order: -1;
    width: 80vw;
  }
  .verification-left-section-image img {
    width: 20vw;
  }

  .verification-right-section-image img {
    width: 70vw;
    height: 85vw;
    margin: 0 auto;
    object-fit: cover;
  }
  .verification-left-section .verified-first-para {
    font-size: 2.3vw;
  }
  .verification-left-section .verified-first-para span {
    font-size: 4vw;
  }
  .verification-left-section .verified-second-para {
    font-size: 2.5vw;
    line-height: 3vw;
    font-weight: 700;
  }
}
