.healthy-section {
  margin: 0 auto;
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #006633;
}

.content-container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5vw 0 0 0;
}

.heading-container {
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: absolute;
  left: 0;
  padding-left: 5rem;
  padding-bottom: 30vw;
}
.heading-container h1 {
  font-size: 7vw; /* 94px converted */
  font-weight: 700;
  line-height: 6.85vw;
}
.medium {
  font-size: 4.7vw;
  line-height: 5.85vw;
  font-weight: 700;
}

.consultation-container {
  display: flex;
  flex-direction: row;
  align-items: center; /* Center-align child elements */
  text-align: center; /* Center-align text */
  gap: 1vw;
}

.patient-image {
  width: 100%;
  max-width: 60vw;
  margin-top: 2rem; /* Space between info and image */
}

.patient-image img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensure the image covers the container without distortion */
}
.info {
  text-align: left;
  margin-top: 12rem;
  margin-left: 6vw;
  z-index: 1;
}
.info h2 {
  font-size: 2.5vw;
  line-height: 3.45vw;
  width: 30vw;
  font-weight: 500;
  padding-top: 2.07vh;
}
.info h2 span {
  font-weight: 700;
}
.info p {
  font-size: 1.38vw;
  font-weight: 700;
}
i {
  pointer-events: auto; /* Ensure pointer events are enabled */
}

@media screen and (max-width: 1030px) {
  .info {
    margin-left: 7.5vw;
  }
}
/* Media Queries for smaller screens */
@media screen and (max-width: 800px) {
  .healthy-section {
    height: auto; /* Allow height to adjust based on content */
    /* padding: 20vw 0; */
    /* margin-left: 10vw; */
    margin: 0 auto;
    width: 90vw;
    padding-top: 3rem;
  }

  .heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    position: relative;
    text-align: center !important;
    margin: 0 auto;
    padding-left: 0 !important;
  }

  .heading-container h1 {
    font-size: 6vw; /* Increase font size for smaller screens */
    line-height: 7vw;
  }

  .medium {
    font-size: 5vw; /* Adjust font size for smaller screens */
    line-height: 6vw;
    text-align: center;
  }
  .bold {
    text-align: center;
  }
  .consultation-container {
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    text-align: center; /* Center-align text */
  }

  .patient-image {
    width: 100%;
    max-width: 80vw; /* Adjust max-width for smaller screens */
    margin-top: 0; /* Remove top margin */
    order: -1; /* Move image to the top */
  }

  .info {
    margin-top: -1rem; /* Add space between image and info */
    margin-left: 0; /* Remove left margin */
    text-align: center; /* Center-align text */
    position: relative; /* Change to relative positioning */
    order: 1; /* Move info to the bottom */
  }

  .info h2 {
    font-size: 3vw;
    line-height: 4vw;
    width: 80vw; /* Adjust width for smaller screens */
    padding-top: 0;
  }

  .info p {
    font-size: 2.5vw;
  }
  .patient-image img {
    width: 90vw;
    height: 50vw;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
  }
  .consultation-container {
    gap: 0;
  }
}

/* Media Queries for smaller screens */
@media screen and (max-width: 530px) {
  .healthy-section {
    height: auto; /* Allow height to adjust based on content */
    /* padding: 20vw 0; */
    /* margin-left: 10vw; */
    margin: 0 auto;
    width: 90vw;
    padding-top: 3rem;
  }

  .heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    position: relative;
    text-align: center !important;
    margin: 0 auto;
    padding-left: 0 !important;
  }

  .heading-container h1 {
    font-size: 9vw; /* Increase font size for smaller screens */
    line-height: 10vw;
  }

  .medium {
    font-size: 6vw; /* Adjust font size for smaller screens */
    text-align: center;
  }
  .bold {
    text-align: center;
  }
  .consultation-container {
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    text-align: center; /* Center-align text */
  }

  .patient-image {
    width: 100%;
    max-width: 80vw; /* Adjust max-width for smaller screens */
    margin-top: 0; /* Remove top margin */
    order: -1; /* Move image to the top */
  }

  .info {
    margin-top: -1rem; /* Add space between image and info */
    margin-left: 0; /* Remove left margin */
    text-align: center; /* Center-align text */
    position: relative;
    order: 1;
  }

  .info h2 {
    font-size: 5.5vw;
    line-height: 6.45vw;
    width: 80vw;
    padding-top: 0;
  }

  .info p {
    font-size: 3.8vw;
  }
  .patient-image img {
    width: 90vw;
    height: 70vw;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
  }
  .consultation-container {
    gap: 0;
  }
}
