/* General Styles (For screens wider than 1200px) */
.philosophy-section1 {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.images-container1 {
  margin-top: 8vw;
  width: 80vw;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.philosophy-section1 h1 {
  /* font-size: 3.7vw; */
  font-weight: 700;
  /* line-height: 4.85vw; */
  z-index: 99;
  color: #006633;
  margin-top: 8vw;
  margin-bottom: -9vw;
  font-size: 4.7vw;
  line-height: 5.85vw;
}

.philosophy1 {
  width: 100%;
  height: auto;
}

/* Media Queries for screens between 800px and 1200px */
@media screen and (min-width: 800px) and (max-width: 1200px) {
  .philosophy-section1 h1 {
    font-size: 4vw;
    line-height: 5vw;
    margin-top: 4vw;
    margin-bottom: -6vw;
  }

  .images-container1 {
    margin-top: 7vw;
    width: 85vw;
  }
}

/* Media Queries for screens between 530px and 800px */
@media screen and (min-width: 530px) and (max-width: 800px) {
  .philosophy-section1 h1 {
    font-size: 7vw;
    line-height: 8vw;
    margin-top: 6vw;
    margin-bottom: -7vw;
  }

  .images-container1 {
    margin-top: 6vw;
    width: 90vw;
  }
}

/* Media Queries for screens smaller than 530px */
@media screen and (max-width: 490px) {
  .philosophy-section1 {
    padding: 0 0 10vw 0;
  }

  .philosophy-section1 h1 {
    font-size: 9vw;
    line-height: 10vw;
    /* margin-top: 9vw; */
    margin-bottom: 2vw;
  }

  .images-container1 {
    margin-top: 5vw;
    width: 100vw;
  }

  .philosophy1 {
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: scale(1.3);
  }
}
