/* Styles for larger screens (desktop) */
.lowglycemic-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0;
  gap: 1vw;
  color: #006633;
  width: 80vw;
  margin: 0 auto;
}

.lowglycemic-content-left {
  flex: 1;
  max-width: 40vw;
}

.lowglycemic-content-left img {
  width: 25vw;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.lowglycemic-section__content-right {
  flex: 1;
  max-width: 40vw;
}

.lowglycemic-section__content-right p {
  font-size: 1.8vw;
  line-height: 2.4vw;
  text-align: justify;
}

.lowglycemic-section__content-right span {
  font-weight: 700;
}

/* Styles for medium screens (tablets) */
@media screen and (max-width: 1024px) {
  .lowglycemic-section {
    padding: 3vw;
    gap: 2vw;
    width: 85vw;
  }

  .lowglycemic-content-left img {
    width: 30vw;
  }

  .lowglycemic-section__content-right p {
    font-size: 2vw;
    line-height: 2.6vw;
  }
}

/* Styles for small screens (mobile) */
@media screen and (max-width: 768px) {
  .lowglycemic-section {
    flex-direction: column;
    padding: 5vw;
    gap: 3vw;
    width: 90vw;
  }

  .lowglycemic-content-left,
  .lowglycemic-section__content-right {
    max-width: 100%;
  }

  .lowglycemic-content-left img {
    width: 40vw;
    margin: 0 auto;
  }

  .lowglycemic-section__content-right p {
    font-size: 3.5vw;
    line-height: 4vw;
  }
}

/* Styles for very small screens (mobile) */
@media screen and (max-width: 480px) {
  .lowglycemic-section {
    padding: 6vw;
    gap: 4vw;
    width: 95vw;
  }

  .lowglycemic-content-left img {
    width: 80%;
  }

  .lowglycemic-section__content-right p {
    font-size: 4vw;
    line-height: 4.5vw;
  }
}
