/* General Styles for Large Screens (width greater than 1200px) */
.kind-lowgi-section {
  padding: 5vw;
  /* background-color: #f9f9f9; */
  width: 100%;
}

.kind-lowgi-container {
  display: flex;
  max-width: 100vw;
  overflow: hidden;
  color: #006633;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.kind-lowgi-left img {
  width: 35vw;
  height: 40vw;
  object-fit: cover;
}

.kind-lowgi-right {
  padding: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.up-low-gi h2 {
  font-size: 5vw;
  color: #1b5e20;
  font-weight: 700;
}

.up-low-gi p {
  font-size: 2.5vw;
  font-weight: 500;
}

.down-low-gi h2 {
  font-size: 2.5vw;
  font-weight: 700;
}
.down-low-gi .down-low-gi p {
  font-size: 1.8vw;
  cursor: pointer;
  font-weight: 500;
}

.down-low-gi p:hover {
  color: #18721e;
}

/* Media Queries for screens between 800px and 1200px */
@media screen and (min-width: 800px) and (max-width: 1200px) {
  .kind-lowgi-section {
    padding: 4vw;
  }

  .kind-lowgi-container {
    max-width: 90vw;
  }

  .kind-lowgi-left img {
    width: 35vw;
    height: 35vw;
  }

  .kind-lowgi-right {
    padding: 3vw;
  }

  .up-low-gi h2 {
    font-size: 6vw;
  }

  .up-low-gi p {
    font-size: 3vw;
  }

  .down-low-gi h2 {
    font-size: 3vw;
  }

  .down-low-gi p {
    font-size: 2vw;
  }
}

/* Media Queries for screens between 530px and 800px */
@media screen and (min-width: 530px) and (max-width: 800px) {
  .kind-lowgi-section {
    padding: 3vw;
  }

  .kind-lowgi-container {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .kind-lowgi-left img {
    width: 50vw;
    height: auto;
  }

  .kind-lowgi-right {
    padding: 2vw;
    text-align: center;
    margin-top: 2rem;
  }

  .up-low-gi h2 {
    font-size: 7vw;
  }

  .up-low-gi p {
    font-size: 3.5vw;
  }

  .down-low-gi h2 {
    font-size: 3.5vw;
  }

  .down-low-gi p {
    font-size: 2.5vw;
  }
  .kind-lowgi-left img {
    width: 90vw;
    height: auto;
  }
}

/* Media Queries for screens smaller than 530px */
@media screen and (max-width: 530px) {
  .kind-lowgi-section {
    padding: 2rem 5vw;
  }

  .kind-lowgi-container {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .kind-lowgi-left img {
    width: 90vw;
    height: auto;
  }

  .kind-lowgi-right {
    padding: 1.5vw;
    text-align: center;
    margin-top: 2rem;
  }

  .up-low-gi h2 {
    font-size: 8vw;
  }

  .up-low-gi p {
    font-size: 5.5vw;
  }

  .down-low-gi h2 {
    font-size: 5.5vw;
  }

  .down-low-gi p {
    font-size: 4.5vw;
  }
}
