/* Navbar.css */

.navbar-section {
  width: 100%;
  background-color: white;
  font-family: "Nunito", sans-serif;
  overflow: hidden;
  height: auto;
}

.navbar-dummy-section {
  padding: 10.5rem 0 1vw 0;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 0 1vw 0;
  /* position: relative; */
  position: fixed;
  z-index: 999;
  top: 0;
  background-color: inherit;
  transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  width: 100%;
}

.navbar-container.nav-hidden {
  transform: translateY(-100%);
}

.navbar-container.nav-visible {
  transform: translateY(0);
}


.navbar-logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar-logo img {
  width: 100%;
  max-width: 141px;
  height: 105px;
}

.navbar-menu-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
}

.navbar-menu ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 4rem;
}

.navbar-menu ul li {
  margin: 0;
}

.navbar-menu ul li a {
  color: #016533;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.55vw;
}

.navbar-menu ul li a:hover {
  color: gray;
}

.navbar-icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: #016533;
  font-size: 1.67vw;
  margin-left: 1vw;
  margin-right: 3vw;
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #016533;
  position: absolute;
  top: 3rem;
  left: 3vw;
}

.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 9999;
  transition: left 0.5s ease;
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
}

.overlay.active {
  left: 0;
}

.overlay-content {
  text-align: center;
}

.overlay-content ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 7rem;
}

.overlay-content ul li {
  margin: 1rem 0;
}

.overlay-content ul li a {
  color: #000;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 700;
}

.overlay-content ul li a:hover {
  color: #016533;
}

.close-icon {
  position: absolute;
  top: 2rem;
  left: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #000;
}

.overlay-active {
  display: none;
}
.user2 {
  display: none;
}
@media screen and (max-width: 1029px) {
  .navbar-icons {
    font-size: 2vw;
  }

  .navbar-menu ul li a {
    font-size: 2vw;
  }

  .navbar-menu ul {
    gap: 3.5rem;
  }
}

@media screen and (max-width: 980px) {
  .navbar-menu ul {
    gap: 2.5rem;
  }
}

@media screen and (max-width: 800px) {
  .navbar-menu {
    display: none;
  }

  .navbar-dummy-section {
    padding: 5.5rem 0 1vw 0;
  }

  .hamburger {
    display: block;
  }

  .cart,
  .user {
    display: block;
    position: absolute;
    top: 3rem;
    right: 1rem; /* Adjusted to align with the right edge */
    font-size: 1.5rem;
  }

  .cart {
    margin-right: 2rem; /* Added margin to separate from the user icon */
  }

  .user {
    margin-right: 0; /* No extra margin */
  }

  .overlay {
    display: flex;
  }

  .navbar-logo img {
    width: 100%;
    max-width: 100px;
    height: 70px;
  }
}

/* Navbar.css */

:root {
  --orange: #ea8710;
}

.sb-preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 99999999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease-in-out;
}

.sb-preloader .sb-preloader-bg {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  position: absolute;
  background-color: var(--orange);
  height: 2000px;
  width: 2000px;
  transform: scale(2);
  transition: 0.6s ease-in-out;
}

.sb-preloader.sb-hidden {
  pointer-events: none;
  transition-delay: 0.2s;
}

.sb-preloader.sb-hidden .sb-preloader-bg {
  transform: scale(0);
  transition-delay: 0.2s;
}
.fill {
  display: flex;
  align-items: center;
}

.three-dot-container {
  color: yellow;
  position: relative;
}

.three-dot-container .three-dot {
  transform: rotate(90deg);
}

.icon-container {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  /* background-color: #fdcf09; Yellow background */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Ensure image does not overflow */
  cursor: pointer;
}

.icon-container img {
  width: 25px; /* Make image fit within the container */
  height: 25px; /* Make image fit within the container */
  object-fit: cover; /* Ensure image maintains aspect ratio */
}
