/* Base Styles */
.contact-hero-section {
  width: 100vw;
  /* padding: 0 5vw; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
  overflow: hidden;
  /* gap: 2vw; */
}

.contact-left-container {
  flex: 1;
}

.contact-left-container img {
  width: 100%;
  height: auto;
  max-height: 50vw;
  object-fit: cover;
}

.contact-right-container {
  flex: 1;
  padding: 2vw;
  text-align: center;
}

.contact-right-container h1 {
  font-family: "Nunito", sans-serif;
  font-size: 5.25vw;
  font-weight: 700;
  line-height: 6.81vw;
  text-align: left;
  color: #016533;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .contact-left-container img {
    max-width: 90vw; /* Adjust image width for smaller screens */
    max-height: 50vw; /* Adjust max-height */
    transform: scale(1.2);
    z-index: -1;
  }

  .contact-right-container {
    padding: 4vw;
    text-align: center;
    margin-top: 2.5rem;
  }

  .contact-right-container h1 {
    font-size: 6vw;
  }
}

@media (max-width: 480px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .contact-left-container img {
    border-radius: 1vw 1vw 0 0;
    max-width: 100vw; /* Full width on very small screens */
    max-height: 50vw; /* Adjust max-height to fit screen */
    transform: scale(1.5);
    z-index: -1;
    margin-top: 3rem;
  }
  .contact-right-container {
    z-index: 98;
    padding: 8vw 0;
  }
  .contact-right-container h1 {
    font-size: 8vw;
  }
}
