/* General Styles */
.ImpactSecond {
  width: 80vw;
  padding: 3vw 4vw; /* Padding for spacing */
  margin: 0 auto;
}

.ImpactSecond__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80vw; /* Limit container width to 80vw */
  margin: 0 auto;
  gap: -3vw;
}

.ImpactSecond__content_left {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ImpactSecond__content_up {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ImpactSecond__content_up img {
  width: 15vw; /* Adjusted image width */
  height: auto; /* Maintain aspect ratio */
}

.ImpactSecond__content_up h1 {
  font-family: "Nunito", sans-serif;
  font-size: 1.8vw; /* Adjusted font size */
  font-weight: 700;
  color: #006633;
}

.ImpactSecond__content_down {
  display: flex;
  justify-content: center;
  margin-top: 2vw;
}

.ImpactSecond__content_down img {
  width: 15vw; /* Adjusted image width */
  height: auto;
}

.ImpactSecond__content_right {
  width: 50vw;
  padding-left: 4vw;
}

.ImpactSecond__content_right p {
  font-family: "Nunito", sans-serif;
  font-size: 1.8vw; /* Adjusted font size */
  line-height: 2.4vw; /* Adjusted line height */
  color: #006633;
  text-align: justify;
}

.ImpactSecond__content_right p span {
  font-weight: 700;
}

/* Media Queries for Smaller Screens */
@media (max-width: 768px) {
  .ImpactSecond__container {
    flex-direction: column;
    text-align: center;
  }

  .ImpactSecond__content_left,
  .ImpactSecond__content_right {
    flex: none;
    width: 100%;
    margin-bottom: 4vw; /* Spacing between sections on small screens */
  }

  .ImpactSecond__content_right {
    width: 80vw !important; /* Set to 80vw on smaller screens */
  }

  .ImpactSecond__content_up img,
  .ImpactSecond__content_down img {
    width: 40vw; /* Adjust image size for smaller screens */
  }

  .ImpactSecond__content_right p {
    font-size: 3.6vw; /* Adjust font size for smaller screens */
    line-height: 4.8vw; /* Adjust line height for smaller screens */
  }
}

/* Additional Media Queries if needed */

/* Screens smaller than 576px */
@media (max-width: 576px) {
  .ImpactSecond__content_right p {
    font-size: 4vw; /* Adjust font size further for very small screens */
    line-height: 5vw; /* Adjust line height further for very small screens */
  }
}
