/* General Styles */
.ImpactSecond {
  width: 100%;
  padding: 4rem 4vw; /* Padding for spacing */
  margin: 0 auto;
}

.ImpactSecond__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80vw; /* Limit container width to 80vw */
  margin: 0 auto;
  gap: -3vw;
}

.ImpactSecond__content_left {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ImpactSecond__content_up {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ImpactSecond__content_up img {
  width: 20vw;
  height: auto;
}

.ImpactSecond__content_up h1 {
  font-family: "Nunito", sans-serif;
  font-size: 1.8vw;
  font-weight: 700;
  color: #006633;
}

.ImpactSecond__content_down {
  display: flex;
  justify-content: center;
  margin-top: 2vw;
}

.ImpactSecond__content_down img {
  width: 20vw;
  height: auto;
}

.ImpactSecond__content_right {
  width: 40vw;
  padding-left: 4vw;
}

.ImpactSecond__content_right p {
  font-family: "Nunito", sans-serif;
  font-size: 1.8vw;
  line-height: 2.4vw;
  color: #006633;
  text-align: justify;
}

.ImpactSecond__content_right p span {
  font-weight: 700;
}

@media (max-width: 768px) {
  .ImpactSecond {
    width: 85vw;
    padding: 2rem 4vw;
  }
  .ImpactSecond__container {
    flex-direction: column;
    text-align: center;
  }

  .ImpactSecond__content_left,
  .ImpactSecond__content_right {
    flex: none;
    width: 100%;
    margin-bottom: 4vw;
  }

  .ImpactSecond__content_right {
    width: 80vw !important;
  }

  .ImpactSecond__content_up img,
  .ImpactSecond__content_down img {
    width: 40vw;
  }

  .ImpactSecond__content_right p {
    font-size: 3vw;
    line-height: 4vw;
  }
}

@media (max-width: 576px) {
  .ImpactSecond__content_right p {
    font-size: 4vw;
    line-height: 5vw;
  }
  .ImpactSecond {
    width: 90vw;
    padding: 1.5rem 4vw;
  }
  .ImpactSecond__content_up img,
  .ImpactSecond__content_down img {
    width: 50vw;
  }
}
