/* General Styles (For screens wider than 1200px) */
.table-container {
  padding: 2rem 2rem 5rem 2rem;
  text-align: center;
  font-family: "Nunito", "sans serif";
  /* background-color: #f9f9f9; */
}

.table-title {
  font-size: 4.7vw;
  font-weight: 700;
  line-height: 5.85vw;
  color: #006633;
  margin-bottom: 1.5rem;
}

.kind-rice-table {
  width: 70%;
  border-collapse: collapse;
  margin: 0 auto;
}

.kind-rice-table th,
.kind-rice-table td {
  border: 2px solid #006633;
  padding: 1rem;
  font-size: 1.5vw;
  text-align: center;
}

.title-head tr th {
  padding: 4vw;
}

.aspect-header,
.kind-header,
.normal-header {
  background-color: #006633;
  color: white;
  font-weight: bold;
}

tbody {
  background-color: #ffffcc;
}

.color-unique {
  background-color: #99cb65;
  font-weight: 700;
  border: 2px solid #ffffcc !important;
}

.border-right {
  border-right: 2px solid #ffffcc !important;
}
.kind-header {
  border-right: 2px solid #ffffcc !important;
  border-left: 2px solid #ffffcc !important;
}
.aspect-header {
  border-right: 2px solid #ffffcc !important;
}
/* Media Queries for screens between 800px and 1200px */
@media screen and (min-width: 800px) and (max-width: 1200px) {
  .table-title {
    font-size: 4.5vw;
    line-height: 5.5vw;
  }

  .kind-rice-table {
    width: 80%;
  }

  .kind-rice-table th,
  .kind-rice-table td {
    font-size: 2vw;
    padding: 0.8rem;
  }
}

/* Media Queries for screens between 530px and 800px */
@media screen and (min-width: 530px) and (max-width: 800px) {
  .table-title {
    font-size: 5.5vw;
    line-height: 6.5vw;
  }

  .kind-rice-table {
    width: 80%;
  }

  .kind-rice-table th,
  .kind-rice-table td {
    font-size: 2.5vw;
    padding: 0.6rem;
  }
}

/* Media Queries for screens smaller than 530px */
@media screen and (max-width: 530px) {
  .table-container {
    padding: 2rem 1rem;
  }

  .table-title {
    font-size: 9vw;
    line-height: 9vw;
  }

  .kind-rice-table {
    width: 90%;
  }

  .kind-rice-table th,
  .kind-rice-table td {
    font-size: 4.5vw;
    padding: 0.4rem;
  }

  .kind-rice-table th,
  .kind-rice-table td {
    padding: 2vw;
  }

  .title-head tr th {
    padding: 3vw;
  }
}
