.truth-section {
  padding: 1vw 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.truth-container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Upper Section: Image and Text */
.truth-up-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1vw;
  gap: 2vw;
}

.right-content-container-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.right-content-container-sec p {
  font-size: 2.3vw;
  color: #006633;
}

/* Lower Section: Text Paragraphs */
.truth-down-container {
  width: 100%;
  text-align: center;
  margin-top: 2vw;
}

.truth-down-container p {
  width: 100%;
  font-size: 2vw;
  margin-bottom: 2vw;
  color: #006633;
}

.truth-down-container span {
  font-weight: 700;
  color: #006633;
}

.truth-up {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.truth-up img {
  width: 4vw; /* Adjusted to vw */
  height: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.truth-up h1 {
  font-size: 3.7vw;
  font-weight: 700;
  line-height: 4.85vw;
  color: #006633;
}

.left-image-con img:hover {
  transform: scale(1.03); /* Slight zoom on hover */
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .truth-container {
    width: 90vw; /* Increase container width on smaller screens */
  }

  .truth-up-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .right-content-container-sec {
    padding-left: 0;
  }

  .right-content-container-sec h1 {
    font-size: 5vw;
  }

  .right-content-container-sec p {
    font-size: 4vw;
  }

  .truth-down-container p {
    font-size: 4vw;
    width: 80vw;
    margin: 0 auto;
  }
  .truth-up img {
    width: 6vw; /* Adjusted to vw */
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
}

@media screen and (max-width: 480px) {
  .truth-container {
    width: 95vw; /* Maximize container width on very small screens */
  }

  .right-content-container-sec h1 {
    font-size: 4.5vw;
  }

  .right-content-container-sec p {
    font-size: 3.5vw;
  }

  .truth-down-container p {
    font-size: 3vw;
  }
  .truth-up img {
    width: 7vw; /* Adjusted to vw */
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
}
