.promise-section {
  /* padding: 6vw 0; */
  width: 90vw;
  /* height: 70vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #006633;
  margin: 0 auto;
}

.promise-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.promise-heading {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin-top: 18rem; */
  z-index: 99;
}

.promise-heading h1 {
  font-size: 3.7vw;
  font-weight: 700;
  line-height: 4.85vw;
}

.promise-heading p {
  font-size: 1.8vw;
  line-height: 2.78vw;
}

.promise-heading-bold {
  font-size: 4.7vw;
  line-height: 5.85vw;
  font-weight: 700;
}

.promise-details {
  font-size: 2vw;
  line-height: 3vw;
  width: 60vw;
  font-weight: 500;
  padding-top: 4.07vh;
  padding-right: 3rem;
  text-align: left;
  /* margin-top: 5rem; */
  /* margin-left: 2rem; */
  height: 27vw;
  z-index: 99;
}

.promise-details span {
  font-weight: 700;
}

.promise-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 70vw;
  margin-top: -4vw;
  gap: 4vw;
}

.promise-image {
  width: 100%;
  max-width: 40vw;
  margin-right: 6rem;
  z-index: -1;
}

.promise-image img {
  width: 100%;
  /* height: 30vw; */
  object-fit: cover;
  margin-bottom: 7rem;
  margin-top: 3rem;
  z-index: -1;
  transform: scale(1.5);
}

.promise-details p {
  font-size: 1.38vw;
  font-weight: 700;
}

/* Media Queries for smaller screens */
@media screen and (max-width: 800px) {
  .promise-section {
    height: auto;
    margin: 0 auto;
    padding: 2rem 0 1rem 0;
  }

  .promise-heading {
    margin-top: 1rem;
    padding: 0 1rem;
    text-align: center;
    z-index: 99;
  }

  .promise-heading h1 {
    font-size: 6vw;
    line-height: 7vw;
  }
  .promise-heading p {
    font-size: 3.5vw;
    line-height: 4.5vw;
    width: 60vw;
  }

  .promise-details {
    font-size: 2.5vw;
    line-height: 3vw;
    width: 90vw;
    /* margin: 1rem auto; */
    text-align: center;
    padding: 0rem 3rem;
  }

  .promise-info-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* gap: 1rem; */
    width: 100%;
  }

  .promise-image {
    width: 70vw;
    height: auto;
    margin: -1.5rem auto;
    max-width: 80vw;
  }
  .promise-details {
    z-index: 99;
  }
  .promise-details h2 {
    font-size: 3.5vw;
    line-height: 4.5vw;
  }

  .promise-details p {
    font-size: 1.8vw;
  }

  .promise-image img {
    z-index: -1;
    height: 40vw;
    max-width: 70vw;
    margin: 0 auto;
    transform: scale(1);
  }
}

/* Media Queries for smaller screens */
@media screen and (max-width: 530px) {
  .promise-section {
    height: auto;
    margin: 0 auto;
    padding: 2rem 0 1rem 0;
  }

  .promise-heading {
    margin-top: 1rem;
    padding: 0 1rem;
    text-align: center;
    z-index: 99;
  }

  .promise-heading h1 {
    font-size: 9vw;
    line-height: 10vw;
  }
  .promise-heading p {
    font-size: 4vw;
    line-height: 5.5vw;
    width: 60vw;
  }

  .promise-details {
    font-size: 2.5vw;
    line-height: 3vw;
    width: 90vw;
    /* margin: 1rem auto; */
    text-align: center;
    padding: 0rem 3rem;
  }

  .promise-info-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* gap: 1rem; */
    width: 100%;
  }

  .promise-image {
    width: 70vw;
    height: auto;
    margin: -1.5rem auto;
    max-width: 80vw;
  }
  .promise-details {
    z-index: 99;
  }
  .promise-details h2 {
    font-size: 4.5vw;
    line-height: 5.5vw;
  }

  .promise-details p {
    font-size: 1.8vw;
  }

  .promise-image img {
    z-index: -1;
    height: 65vw;
    max-width: 90vw;
    margin: 0 auto;
    transform: scale(1);
  }
}
