.promise2-section {
  margin: 0 auto;
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #006633;
  padding: 2vw 0;
}

.promise2-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* height: 42vw; */
}

.promise2-heading-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding-bottom: 3vw; */
}

.promise2-heading-container h1 {
  font-weight: 700;
  font-size: 4.7vw;
  line-height: 5.85vw;
}

.promise2-medium {
  font-weight: 700;
  font-size: 5vw;
  line-height: 6.85vw;
}

.promise2-consultation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  /* gap: vw; */
  position: relative;
}

.promise2-patient-image {
  width: 35vw;
  margin-top: 2rem;
  z-index: 0;
}

.promise2-patient-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* margin-bottom: 8rem; */
  transform: scale(1.3);
}

.promise2-info {
  text-align: left;
  margin-top: 0;
  margin-left: 8vw;
  text-align: justify;
  position: relative;
  z-index: 1;
}

.promise2-info h2 {
  font-size: 2vw;
  line-height: 3vw;
  width: 30vw;
  font-weight: 500;
  margin-bottom: 2vw;
}

.promise2-heading-container p {
  font-size: 1.81vw;
  line-height: 2.78vw;
  padding-left: 0.5vw;
  z-index: 1;
}

.promise2-info h2 span {
  font-weight: 700;
}

.promise2-info p {
  font-size: 1.38vw;
  font-weight: 700;
}

/* Media Queries for smaller screens */
@media screen and (max-width: 800px) {
  .promise2-section {
    height: auto;
    padding: 6vw 0 3vw 0;
    margin: 0 auto;
  }
  .promise2-content-container {
    padding: 0;
  }
  .promise2-heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    position: relative;
    text-align: center !important;
    margin: 0 auto;
    padding-left: 0 !important;
  }

  .promise2-heading-container h1 {
    font-size: 7vw;
    line-height: 6vw;
  }

  .promise2-medium {
    font-size: 5vw;
    line-height: 6vw;
    text-align: center;
  }

  .promise2-bold {
    text-align: center;
  }
  .promise2-heading-container p {
    font-size: 2.5vw;
    line-height: 3.5vw;
    width: 60vw;
    text-align: center;
  }
  .promise2-consultation-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0;
  }

  .promise2-patient-image {
    width: 100%;
    margin-top: 0;
    order: -1;
    max-width: 90vw;
  }

  .promise2-info {
    margin-top: 2rem;
    margin-left: 0;
    text-align: center;
    position: relative;
    order: 1;
  }

  .promise2-info h2 {
    font-size: 3.8vw;
    line-height: 5vw;
    width: 80vw;
    padding-top: 0;
  }

  .promise2-info p {
    font-size: 2.8vw;
  }

  .promise2-patient-image img {
    width: 50vw;
    height: 40vw;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
    /* transform: scale(1); */
  }
}

/* Media Queries for smaller screens */
@media screen and (max-width: 530px) {
  .promise2-section {
    height: auto;
    padding: 2rem 5vw;
    margin: 0 auto;
  }
  .promise2-content-container {
    padding: 0;
  }
  .promise2-heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    position: relative;
    text-align: center !important;
    margin: 0 auto;
    padding-left: 0 !important;
  }

  .promise2-heading-container h1 {
    font-size: 9vw;
    line-height: 10vw;
  }

  .promise2-medium {
    font-size: 5.5vw;
    text-align: center;
  }

  .promise2-bold {
    text-align: center;
  }
  .promise2-heading-container p {
    font-size: 3.5vw;
    line-height: 4.5vw;
    width: 60vw;
    text-align: center;
  }
  .promise2-consultation-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0;
  }

  .promise2-patient-image {
    width: 100%;
    margin-top: 0;
    order: -1;
    max-width: 90vw;
    transform: scale(1);
  }

  .promise2-info {
    margin-top: 2rem;
    margin-left: 0;
    text-align: center;
    position: relative;
    order: 1;
  }

  .promise2-info h2 {
    font-size: 4.8vw;
    line-height: 6vw;
    width: 80vw;
    padding-top: 0;
  }

  .promise2-info p {
    font-size: 2.8vw;
  }

  .promise2-patient-image img {
    width: 70vw;
    height: 60vw;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
  }
}
