/* Base Styles */
.Impact-hero-section {
  width: 80vw;
  margin: 0 auto;
}

.Impact-hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80vw;
  margin: 0 auto;
}

.Impact-hero-image-left {
  flex: 1;
  display: flex;
  justify-content: center;
}

.Impact-hero-image-left img {
  width: 39vw;
  height: auto;
  border-radius: 0.8vw;
  object-fit: cover;
}

.Impact-hero-content-right {
  flex: 1;
  padding: 4vw;
  text-align: left;
  font-family: "Nunito", sans-serif;
  color: #333;
}

.Impact-hero-content-right h1 {
  font-size: 3.5vw;
  font-weight: 500;
  line-height: 4.5vw;
  color: #016533;
}

.Impact-hero-content-right h1 span {
  font-weight: 700;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .Impact-hero-section {
    width: 90vw;
  }

  .Impact-hero-image-left {
    margin-bottom: 2vw;
  }

  .Impact-hero-image-left img {
    width: 60vw;
  }

  .Impact-hero-content-right {
    padding: 2vw;
  }

  .Impact-hero-content-right h1 {
    font-size: 4vw;
    line-height: 5vw;
  }
}

@media (max-width: 768px) {
  .Impact-hero-section {
    width: 95vw;
  }

  .Impact-hero-container {
    flex-direction: column;
  }

  .Impact-hero-image-left {
    margin-bottom: 4vw;
    z-index: -1;
  }

  .Impact-hero-image-left img {
    width: 85vw;
  }

  .Impact-hero-content-right {
    padding: 2vw 2vw 8rem 2vw;
    margin: -5rem;
  }

  .Impact-hero-content-right h1 {
    font-size: 5vw;
    line-height: 6vw;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .Impact-hero-section {
    width: 100vw;
    padding: 0 2vw;
  }

  .Impact-hero-container {
    flex-direction: column;
  }

  .Impact-hero-image-left {
    padding-bottom: 5vw;
    text-align: center;
    z-index: -1;
    margin: 0 auto;
  }

  .Impact-hero-image-left img {
    width: 100vw;
    transform: scale(1.7);
    padding: 3rem 7vw 3rem 0;
  }

  .Impact-hero-content-right {
    padding: 2vw 2vw 4rem 2vw;
    margin: -2rem;
  }

  .Impact-hero-content-right h1 {
    font-size: 6vw;
    line-height: 7vw;
  }
}
