/* Base Styles */
.about-us {
  position: relative;
  overflow: hidden;
}

.inner-container {
  width: 80vw;
  height: auto;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.inner-container img {
  width: 100%;
  height: 40vw;
  object-fit: cover;
  opacity: 1;
}

.about-section-section {
  width: 100vw;
  height: 33.3vw; /* Increased height for larger image */
  position: relative;
  overflow: hidden;
}

.about-section-section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.3;
  z-index: -1;
}

.about-overlay-text {
  position: absolute;
  top: 12vw;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #006633;
  margin-left: 10vw;
  max-width: 80vw;
}

.about-overlay-text h1 {
  font-size: 4vw;
  font-weight: 700;
  line-height: 5vw;
}

.border-bottom {
  width: 6vw;
  height: auto;
  border-bottom: 3px solid #006633;
  margin-top: 2vw;
}

@media (max-width: 768px) {
  .about-section-section {
    height: 40vw;
  }

  .about-overlay-text h1 {
    font-size: 5vw;
    line-height: 6vw;
  }
  .about-overlay-text {
    top: 12vw;
    left: 0;
  }
  .border-bottom {
    width: 8vw;
    margin-top: 3vw;
  }
}

/* For screens smaller than 480px */
@media (max-width: 480px) {
  .about-section-section {
    height: 50vw;
  }

  .about-overlay-text {
    top: 16vw;
    margin-left: 3vw;
    max-width: 90vw;
  }

  .about-overlay-text h1 {
    font-size: 6.5vw;
    line-height: 7.5vw;
  }

  .border-bottom {
    width: 10vw;
    margin-top: 4vw;
  }
  .inner-container {
    padding-bottom: 1.5rem;
  }
}
