/* Base Styles */
.his-thoughts {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 5vw 5vw 5vw;
  width: 100vw;
  height: auto;
  margin: 1rem 0;
}

.section-content-container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 80%;
}

.left-sec {
  flex: 1;
  margin-right: 2vw;
  max-width: 35.4vw;
}

.left-sec img {
  width: 28.4vw;
  height: 35.3vw;
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
}

.right-sec {
  flex: 1;
  text-align: center;
}

.right-sec h1 {
  font-family: "Nunito", sans-serif;
  font-size: 2.5vw;
  font-weight: 700;
  line-height: 1.2;
  color: #016533;
  margin-bottom: 1.5vw;
}

.right-sec p {
  font-family: "Nunito", sans-serif;
  font-size: 1.8vw;
  line-height: 2.8vw;
  margin: 0;
  text-align: left;
  font-weight: 500;
  color: #000;
}

/* Media Queries */

/* For screens smaller than 768px */
@media (max-width: 768px) {
  .section-content-container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 90%;
    gap: 4vw;
  }
  .his-thoughts {
    padding: 5vw;
  }
  .left-sec {
    margin-right: 0;
    max-width: 100%;
    margin-bottom: 3vw;
  }

  .left-sec img {
    width: 100%;
    height: 55vw;
  }

  .right-sec h1 {
    font-size: 3.5vw;
    margin-bottom: 4.5vw;
  }

  .right-sec p {
    font-size: 2.5vw;
    line-height: 3.5vw;
  }
}

/* For screens smaller than 530px */
@media (max-width: 530px) {
  .section-content-container {
    width: 100%;
    padding: 5vw;
    flex-direction: column;
    text-align: center;
  }

  .left-sec img {
    width: 80vw;
    height: 50vw;
  }

  .right-sec h1 {
    font-size: 5vw;
    margin-bottom: 3vw;
  }

  .right-sec p {
    font-size: 4vw;
    line-height: 5.5vw;
    text-align: center;
  }
}
