.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2vw;
}

.pagination-container {
  display: flex;
  align-items: center;
}

.pagination ul {
  list-style: none;
  display: flex;
  gap: 0.5vw;
  padding: 0;
  margin: 0;
}

.pagination li {
  margin: 0;
}

.pagination a {
  display: block;
  padding: 1vw 2vw;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  color: #006633;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 50%;
  border: none;
  width: 4.17vw;
  height: 4.17vw;
  padding: 0.56vw 1.39vw;
  gap: 0.69vw;
  font-size: 1.67vw;
  font-weight: 700;
  line-height: 2.27vw;
  align-items: center;
  justify-content: center;
}

.pagination a:hover,
.pagination a.active {
  background-color: #006633;
  color: white;
}

.pagination .active a {
  background-color: #006633;
  color: white;
}

/* Media Queries for Smaller Screens */
@media (max-width: 1024px) {
  .pagination a {
    width: 6vw;
    height: 6vw;
    padding: 1vw;
    font-size: 2vw;
    line-height: 2.5vw;
  }

  .pagination ul {
    gap: 1vw;
  }
}

@media (max-width: 768px) {
  .pagination a {
    width: 8vw;
    height: 8vw;
    padding: 1.5vw;
    font-size: 2.5vw;
    line-height: 3vw;
  }

  .pagination ul {
    gap: 1.5vw;
  }
}

@media (max-width: 480px) {
  .pagination a {
    width: 10vw;
    height: 10vw;
    padding: 2vw;
    font-size: 3vw;
    line-height: 3.5vw;
  }

  .pagination ul {
    gap: 2vw;
  }
}
