/* Main Styles */
.return-policy-section2 {
  padding: 4vw 2vw;
  background-color: #f9f9f9;
}

.return-policy-section2-container {
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.policy-info {
  text-align: left;
  margin-bottom: 3vw;
}

.policy-title {
  font-family: "Nunito", sans-serif;
  font-size: 2.3vw;
  font-weight: 700;
  line-height: 3.75vw;
  text-align: center;
  margin-bottom: 1vw;
  color: #016533;
}

.policy-description {
  font-family: "Nunito", sans-serif;
  font-size: 1.8vw;
  font-weight: 500;
  line-height: 2.6vw;
  text-align: center;
  color: #000000;
}

.details {
  font-family: "Nunito", sans-serif;
  font-size: 1.1vw;
  font-weight: 400;
  line-height: 1.8;
}

.details ol {
  padding-left: 2vw;
  margin-bottom: 2vw;
  color: #016533;
}

.details.t-c ul{
  list-style-type: none!important;
}

.details.t-c ol li{
  margin-bottom: 2rem;
}

.details ol li {
  font-family: "Nunito", sans-serif;
  font-size: 1.8vw;
  font-weight: 500;
  line-height: 2.6vw;
  margin-bottom: 2vw;
}

.tit {
  font-family: "Nunito", sans-serif;
  font-size: 2.5vw;
  font-weight: 700 !important;
  line-height: 3.75vw;
  text-align: left;
  margin-bottom: 2vw;
}

.details li {
  margin-bottom: 1vw;
  font-weight: 500;
}

.details ul {
  list-style-type: disc;
  margin-left: 2vw;
  margin-bottom: 2vw;
}

.details ul p.shipping-heading{
  font-weight: 800!important;
}

.details ul p {
  font-weight: 600;
  color: #000000;
  margin-bottom: 0.5vw;
  font-family: "Nunito", sans-serif;
  font-size: 1.8vw;
  line-height: 2.6vw;
}

.details ul li {
  margin-bottom: 1vw;
  color: #000000;
}

@media (max-width: 1024px) {
  .policy-title {
    font-size: 2.8vw;
    line-height: 4.3vw;
  }

  .policy-description {
    font-size: 2.2vw;
    line-height: 3.2vw;
  }

  .details ol li,
  .tit {
    font-size: 2.2vw;
    line-height: 3.2vw;
  }

  .details ul p {
    font-size: 2vw;
    line-height: 3vw;
  }
}

@media (max-width: 768px) {
  .policy-title {
    font-size: 3.5vw;
    line-height: 5.5vw;
  }

  .policy-description {
    font-size: 2.8vw;
    line-height: 4vw;
  }

  .details ol li,
  .tit {
    font-size: 2.8vw;
    line-height: 4vw;
  }

  .details ul p {
    font-size: 2.5vw;
    line-height: 3.5vw;
  }
}

@media (max-width: 480px) {
  .policy-title {
    font-size: 4.5vw;
    line-height: 6vw;
  }

  .policy-description {
    font-size: 4vw;
    line-height: 5vw;
  }

  .details ol li,
  .tit {
    font-size: 4vw;
    line-height: 5vw;
  }

  .details ul p {
    font-size: 4vw;
    line-height: 5vw;
  }
  .details ul li {
    margin-bottom: 3vw;
  }
}
