/***************************

preloader

***************************/

:root {
  --orange: #016533;
}

.sb-preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 99999999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease-in-out;
}

.sb-preloader .sb-preloader-bg {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  position: absolute;
  background-color: #016533 !important;
  height: 2000px;
  width: 2000px;
  /* top: 20%; */
  transform: scale(2);
  transition: 0.6s ease-in-out;
}

.sb-preloader-number {
  color: #99cb65 !important;
}
.sb-percentage {
  color: #99cb65 !important;
}

.sb-preloader .sb-preloader-body {
  position: absolute;
  bottom: 0;
  z-index: 999;
  width: 100%;
  text-align: center;
  transition: 0.4s ease-in-out;
}

.sb-preloader .sb-preloader-body .sb-loading {
  opacity: 0;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}

.sb-preloader .sb-preloader-body .sb-loading-bar {
  margin-bottom: 15px;
  width: 1px;
  height: 80vh;
  margin: 0 auto;
  border-radius: 2px;
  overflow: hidden;
  background-color: #ffffff;
}

.sb-preloader .sb-preloader-body .sb-loading-bar .sb-bar {
  width: 100%;
  height: 0;
  background-color: #99cb65;
}

.sb-preloader.sb-hidden {
  pointer-events: none;
  transition-delay: 0.2s;
}

.sb-preloader.sb-hidden .sb-preloader-bg {
  transform: scale(0);
  transition-delay: 0.2s;
}

.sb-preloader.sb-hidden .sb-preloader-body {
  transform: translateY(30%);
  opacity: 0;
  transition-delay: 0s;
}
